

.loanTitle {
  line-height: .56rem;
  font-size: .32rem;
  padding-top: .2rem;
}

.loanTitleLeft {
  margin-left: .2rem;
  color: #323232;
  font-size: .36rem;
}

.loanTable {
  margin-top: .1rem;
  padding: 0 .2rem;
}
